In [1]:
import os
import pandas as pd
import glob

In [2]:
os.getcwd()

'/repo/projects/HAI_timeseries/notebook/CES'

In [3]:
data_path = '/repo/projects/HAI_timeseries/Hamon_dataset/*.csv'

In [4]:
file_list = glob.glob(data_path)
file_list

['/repo/projects/HAI_timeseries/Hamon_dataset/20210624.csv',
 '/repo/projects/HAI_timeseries/Hamon_dataset/20210626.csv',
 '/repo/projects/HAI_timeseries/Hamon_dataset/20210625.csv',
 '/repo/projects/HAI_timeseries/Hamon_dataset/20210621.csv',
 '/repo/projects/HAI_timeseries/Hamon_dataset/20210622.csv',
 '/repo/projects/HAI_timeseries/Hamon_dataset/20210623.csv',
 '/repo/projects/HAI_timeseries/Hamon_dataset/20210620.csv']

In [5]:
# 전체 데이터
df_total = pd.DataFrame()

for i in file_list:
    data = pd.read_csv(i)
    df_total = pd.concat([df_total, data])

# Sort by date
df_total= df_total.sort_values(by=['YYYYMMDD'], axis=0)
df_total = df_total.reset_index(drop = True)

In [6]:
df_total.head(5)

,YYYYMMDD,HHMMSS,MNG_NO,IF_IDX,AVG_INBPS,MIN_INBPS,MAX_INBPS,AVG_OUTBPS,MIN_OUTBPS,MAX_OUTBPS,...,MAX_INMCASTPPS,AVG_OUTMCASTPPS,MIN_OUTMCASTPPS,MAX_OUTMCASTPPS,AVG_INBCASTPPS,MIN_INBCASTPPS,MAX_INBCASTPPS,AVG_OUTBCASTPPS,MIN_OUTBCASTPPS,MAX_OUTBCASTPPS
0,20210620,235500,26641,124,66992,66992,66992,36576,36576,36576,...,0,0,0,0,0,0,0,0,0,0
1,20210620,85500,5505,2,37824,37824,37824,36192,36192,36192,...,0,0,0,0,0,0,0,0,0,0
2,20210620,85000,5505,2,8792,8792,8792,28104,28104,28104,...,0,0,0,0,0,0,0,0,0,0
3,20210620,84500,5505,2,144336,144336,144336,43680,43680,43680,...,0,0,0,0,0,0,0,0,0,0
4,20210620,84000,5505,2,45656,45656,45656,50720,50720,50720,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df_total.shape

(23195128, 58)

In [9]:
dataset_loc = '/repo/projects/HAI_timeseries/Hamon_dataset/'
export_file = 'total_df.csv'
df_total.to_csv(dataset_loc + export_file, index = False)