In [1]:
import os
import pandas as pd
import glob

In [2]:
os.getcwd()

'/repo/projects/timeseries_anomaly/EDA'

In [3]:
data_path = '/repo/projects/timeseries_anomaly/dataset/cm_if_perf_1/*.csv'

In [4]:
file_list = glob.glob(data_path)
file_list

['/repo/projects/timeseries_anomaly/dataset/cm_if_perf_1/20210623.csv',
 '/repo/projects/timeseries_anomaly/dataset/cm_if_perf_1/20210621.csv',
 '/repo/projects/timeseries_anomaly/dataset/cm_if_perf_1/20210620.csv',
 '/repo/projects/timeseries_anomaly/dataset/cm_if_perf_1/20210622.csv',
 '/repo/projects/timeseries_anomaly/dataset/cm_if_perf_1/20210624.csv',
 '/repo/projects/timeseries_anomaly/dataset/cm_if_perf_1/20210626.csv',
 '/repo/projects/timeseries_anomaly/dataset/cm_if_perf_1/20210625.csv']

In [5]:
# 전체 데이터
df_total = pd.DataFrame()

for i in file_list:
    data = pd.read_csv(i)
    df_total = pd.concat([df_total, data])

# Sort by date
df_total= df_total.sort_values(by=['YYYYMMDD'], axis=0)
df_total = df_total.reset_index(drop = True)

In [6]:
df_total.head(5)

,YYYYMMDD,HHMMSS,MNG_NO,IF_IDX,AVG_INBPS,MIN_INBPS,MAX_INBPS,AVG_OUTBPS,MIN_OUTBPS,MAX_OUTBPS,...,MAX_INMCASTPPS,AVG_OUTMCASTPPS,MIN_OUTMCASTPPS,MAX_OUTMCASTPPS,AVG_INBCASTPPS,MIN_INBCASTPPS,MAX_INBCASTPPS,AVG_OUTBCASTPPS,MIN_OUTBCASTPPS,MAX_OUTBCASTPPS
0,20210620,25500,10573,10,27264,27264,27264,28376,28376,28376,...,0,0,0,0,0,0,0,0,0,0
1,20210620,91000,9369,10,74136,74136,74136,261408,261408,261408,...,0,0,0,0,0,0,0,0,0,0
2,20210620,90500,9369,10,71704,71704,71704,264968,264968,264968,...,0,0,0,0,0,0,0,0,0,0
3,20210620,90000,9369,10,209248,209248,209248,262584,262584,262584,...,0,0,0,0,0,0,0,0,0,0
4,20210620,95500,9366,10,15808,15808,15808,22384,22384,22384,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df_total.shape

(23195128, 58)

In [8]:
dataset_loc = '/repo/projects/timeseries_anomaly/dataset/cm_if_perf_1/'
export_file = 'total_cm_if_perf.csv'
df_total.to_csv(dataset_loc + export_file, index = False)